<!-- Création du formulaire, ngModel et name correspondent aux propriétés du composant -->

<form action="" (ngSubmit)="createArticle()" class="form">
    <label for="">
        Titre
        <input type="text" [(ngModel)]="title" name="title">
    </label>
    <br>
    <label for="">
        Summary
        <input type="text" [(ngModel)]="summary" name="summary">
    </label>
    <br>
    <label for="">
        Content
        <input type="text" [(ngModel)]="content" name="content">
    </label>
    <br>
    <button> Valider </button>
</form>