<!-- On crée un bloc dans lequel apparaitront les différents paramètres voulus. -->
<!-- On ajoute un bouton effacer, présent sur chaque article. -->
<div *ngIf="article" class="deco">
    <h1>{{article.title}}</h1>
    <p>{{article.summary}}</p>
    <p>{{article.content}}</p>
    <div class="deleteButtonArea">
    <button (click)="deleteArticle(article.id)"> Effacer</button>
</div>
</div>