.deco{
    // background: rgb(123, 123, 206);
    background: rgb(205, 174, 0);
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    border-radius: 1rem;
}

h1{
    text-align: center;
}

.deleteButtonArea{
    text-align: center;
}