<!-- Création d'un formulaire pour se logger -->
<!-- VERSION TROP COOL ADRIEN. MAIS PAS REUSSI A ADAPTER AVEC DONNES AMANDINE -->

<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="form">
    <input name="login" ngModel required #first="ngModel" placeholder="Login">
    <br>
    <input name="password" ngModel required placeholder="Mot de passe">
    <br>
    <button>Valider</button>
</form> -->


<form (ngSubmit)="onSubmitLoggin()" ngNativeValidate class="form">
    <input name="login" required [(ngModel)]="username" placeholder="Login">
    <br>
    <input name="password" required [(ngModel)]="password" placeholder="Mot de passe">
    <br>
    <button>Valider</button>
</form>