<!-- Le code suivant sert à appeler le chemin pour accéder à la page login -->
<div class="fakeHeader">
    <a href=""> S'inscrire </a>
<input id="searchbar" type="text" name="search" placeholder="Rechercher un article..." class="search">
<a [routerLink]="['login']" class="top">Se connecter</a>
</div>

<div class="mainpage">
    <h1> Zeniblog </h1>
<!-- On crée une route déclenchée lors de l'appui sur le bouton : -->
    <button [routerLink]="['create-article']"> Créer un article </button>
</div>

<!-- On affiche la liste des articles créés jusqu'ici. -->
<!-- On crée également une méthode reloadArticles pour recharger la page directement après la suppression d'un article -->
<section>
<div *ngFor="let article of articles">
    <app-article [article]="article" (deleteEvent)="reloadArticles($event)"></app-article>
</div>
</section>